.has-background-bright-brown {
  background-color: #d3b79a !important;
}

.has-background-brown {
  background-color: #c79161 !important;
}

.has-background-dark-brown {
  background-color: #6b4741 !important;
}

.has-background-blue {
  background-color: #253c59 !important;
}

.has-background-red {
  background-color: #d93e40 !important;
}

.has-background-green {
  background-color: #5c8861 !important;
}

.has-background-org {
  background-color: #e5af7f !important;
}

