<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/bulma/bulma.css" th:href="@{/css/bulma/bulma.css}" rel="stylesheet">
    </link>
    <link href="/css/base.css" th:href="@{/css/base.css}" rel="stylesheet">
    </link>
    <link href="/css/talk/talk.css" th:href="@{/css/talk/talk.css}" rel="stylesheet">
    </link>
    <title>talk_chatroom</title>
</head>

<body>
    <!-- 
    <header class="hea has-background-blue">

    </header>
    <nav class="navbar is-info has-background-blue ">
        <div class="container">
            <div class="navbar-brand">
                <div class="navbar-item">
                </div>
            </div>
        </div>
    </nav>
-->
    <main class="hero is-fullheight">
        <div class="columns is-mobile is-gapless">
            <aside class="column is-3 aside has-background-dark-brown">
                <nav class="panel has-background-white">
                    <div class="panel-block">
                        <p class="control">
                            <input class="input" type="text" placeholder="Search">
                            <span>
                                <i class="fas fa-search" aria-hidden="true"></i>
                            </span>
                        </p>
                    </div>
                    <p class="panel-tabs">
                        <a class="is-active">Personal</a>
                        <a>Group</a>
                    </p>
                    <a class="panel-block is-active">
                        Tom
                    </a>
                    <a class="panel-block">
                        TomTom
                    </a>
                    <a class="panel-block">
                        Tom
                    </a>
                    <a class="panel-block">
                        Tom
                    </a>
                    <a class="panel-block">
                        Tom
                    </a>
                    <a class="panel-block">
                        Tom
                    </a>
                    <a class="panel-block">
                        Tom
                    </a>
                    <a class="panel-block">
                        Tom
                    </a>
                    <a class="panel-block">
                        Tom
                    </a>
                    <a class="panel-block">
                        Tom
                    </a>
                    <a class="panel-block">
                        Tom
                    </a>
                    <a class="panel-block">
                        Tom
                    </a>
                    <a class="panel-block">
                        Tom
                    </a>
                </nav>
            </aside>


            <div class="column has-background-org">
                <div class="hero">
                    <div class="hero-head">
                        <nav class="navbar is-info has-background-blue">
                            <div class="container">
                                <div class="navbar-brand">
                                    <div class="navbar-item">
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>


                    <div class="hero-body is-cos-height">
                        <div class="box">
                            <div class="balloon-set-box left">

                                <div class="icon-box">
                                    <img src="" class="icon">
                                </div>
                                <div class="balloon">左からのコメント</div>
                            </div>

                            <div class="balloon-set-box right">
                                <div class="icon-box">
                                    <img src="" class="icon">
                                </div>
                                <div class="balloon">右からの長ーーーーーーーーーーーーーーーーーーーーーーーーーーーーいコメント</div>
                            </div>

                            <div class="balloon-set-box right">
                                <div class="icon-box">
                                    <img src="" class="icon">
                                </div>
                                <div class="balloon">右からの長ーーーーーーーーーーーーーーーーーーーーーーーーーーーーいコメント</div>
                            </div>

                            <div class="balloon-set-box left">

                                <div class="icon-box">
                                    <img src="" class="icon">
                                </div>
                                <div class="balloon">左からのコメント</div>
                            </div>

                        </div>
                    </div>


                    <div class="hero-foot">
                        <div class="box is-fullwidth">
                            <div class="field">
                                <div class="control">
                                    <input class="input " type="text" placeholder="message">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </main>
</body>