<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/bulma/bulma.css" th:href="@{/css/bulma/bulma.css}" rel="stylesheet">
    </link>
    <link href="/css/base.css" th:href="@{/css/base.css}" rel="stylesheet">
    </link>
    <title>talk_chatroom</title>
</head>
<body>
    <nav class="navbar is-info has-background-blue ">
        <div class="container">
            <div class="navbar-brand">
                <div class="navbar-item">

                </div>
            </div>
        </div>
    </nav>

    <div class="columns is-fullheight-with-navbar is-mobile">
        <aside class="column is-3 aside hero is-fullheight-with-navbar has-background-dark-brown">
            <nav class="panel has-background-white">
                <div class="panel-block">
                    <p class="control">
                        <input class="input" type="text" placeholder="Search">
                        <span>
                            <i class="fas fa-search" aria-hidden="true"></i>
                        </span>
                    </p>
                </div>
                <p class="panel-tabs">
                    <a class="is-active">Personal</a>
                    <a>Group</a>
                </p>
                <a class="panel-block is-active">
                    Tom
                </a>
                <a class="panel-block">
                    TomTom
                </a>
                <a class="panel-block">
                    Tom
                </a>
                <a class="panel-block">
                    Tom
                </a>
                <a class="panel-block">
                    Tom
                </a>
                <a class="panel-block">
                    Tom
                </a>
                <a class="panel-block">
                    Tom
                </a>
                <a class="panel-block">
                    Tom
                </a>
                <a class="panel-block">
                    Tom
                </a>
                <a class="panel-block">
                    Tom
                </a>
                <a class="panel-block">
                    Tom
                </a>
                <a class="panel-block">
                    Tom
                </a>
                <a class="panel-block">
                    Tom
                </a>
            </nav>
        </aside>


        <div class="column has-background-org">
            <div class="hero">
                <div class="hero-body">
                    <div class="box">
                        <article class="media">
                            <figure class="media-left">
                                <p class="image is-64x64">
                                    <img class="is-rounded" src="">
                                </p>
                            </figure>

                            <div class="media-content is-left">
                                <div class="content">
                                    <p>
                                        <strong>トム</strong>
                                        <br>コメント
                                    </p>
                                </div>
                            </div>
                        </article>

                        <article class="media">
                            <div class="media-content is-right">
                                <div class="content">
                                    <p>
                                        <strong>トム</strong>
                                        <br>コメント
                                    </p>
                                </div>
                            </div>
                            <figure class="media-right">
                                <p class="image is-64x64">
                                    <img class="is-rounded" src="">
                                    <br>tom
                                </p>
                            </figure>
                        </article>
                    </div>

                </div>
                <div class="hero-foot is-1">
                    <div class="box is-fullwidth">
                        <div class="field">
                            <div class="control">
                                <input class="input " type="text" placeholder="message">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</body>