<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/bulma/bulma.css" th:href="@{/css/bulma/bulma.css}" rel="stylesheet">
    </link>
    <link href="/css/base.css" th:href="@{/css/base.css}" rel="stylesheet">
    </link>
    <title>samlpe</title>
</head>


<body>

    <nav class="navbar is-info">
        <div class="navbar-brand">
            <div class="navbar-item">
                <a class="navbar-item" href="../">
                    <img src="http://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox">
                </a>
            </div>
        </div>
    </nav>

    <section class="hero has-background-dark-brown">
        <div class="hero-body">
            <div class="container">

                <div class="columns" id="main">
                    <div class="column is-2 hero is-fullheight">

                        <div class="field">
                            test
                        </div>

                        <div class="field">
                            test
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </section>


</body>